body {
    background-image: url(../IMAGE/4.jgp.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: blue;
}

input, textarea{
    display: block;
    padding: 1em 2em;
    margin: 1em;
    border: 1px solid gainsboro;
    border-radius: 20px;
    outline: none;
}
